<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Exito</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>EL REGISTRO A SIDO REALIZADO DE MANERA EXITOSA</h1>
        <p>Nombre: <span th:text="${Alumno.nombre}"></span></p>
        <p>Apellido Paterno: <span th:text="${Alumno.apellidoPaterno}"></span></p>
        <p>Apellido Materno: <span th:text="${Alumno.apellidoMaterno}"></span></p>
        <p>Fecha Nacimiento: <span th:text="${Alumno.fechaNacimiento}"></span></p>
        <p>Lugar Residencia: <span th:text="${Alumno.lugarResidencia}"></span></p>
        <p>Edad: <span th:text="${Alumno.edad}"></span></p>
        <p>Telefono: <span th:text="${Alumno.telefono}"></span></p>
        <p>Correo Electronico: <span th:text="${Alumno.correoElectronico}"></span></p>
    </body>
</html>
